@import "tailwindcss";
@plugin "daisyui";

.text-gradient {
  @apply bg-linear-to-br from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
}

.btn-bg {
  @apply bg-linear-to-br from-[#632EE3] to-[#9F62F2];
}

a.active {
  border-bottom: 2px solid blueviolet;
  @apply bg-linear-to-br from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
}
.default-active {
  border-bottom: 2px solid blueviolet;
  @apply bg-linear-to-br from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
}

body {
  background-color: rgb(250, 250, 250);
}

@keyframes gradient-x {
  0% {
    background-position: 0%;
  }
  10% {
    background-position: 20%;
  }
  20% {
    background-position: 40%;
  }
  40% {
    background-position: 60%;
  }
  40% {
    background-position: 80%;
  }
  50% {
    background-position: 100%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 1s ease infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner-img {
  animation: spin 1.2s linear infinite; 
  vertical-align: middle;
}


.footer-ul
{
  @apply text-gray-300  flex justify-center text-sm sm:text-base sm:justify-start flex-wrap items-center gap-2 divide-x divide-gray-600 sm:block sm:space-y-2 sm:divide-x-0
}
